.nav-spacer {
  flex: 1 1 auto;
}
.header-block{
  height: 5%;
}
.main-block {
  height: 90%;
}
.footer-block{
  height: 5%;
  font-size: small;
}
.menu-block{
  width: 15%;
}
.drawer-block{
  padding: 10px;
}
.drawer-block-mat-card{
  height: 100%;
}
#user-info-btn{
  cursor: pointer;
}

.header-icon {
  vertical-align: sub;
}
